<div class="join-us d-none d-sm-block"> 
    <div class="forum-sidebar">
        <section class="forum-sidebar_join-promt join-us_btn">
            <p>
                We believe
                that to be involved in
                the greater art context
                we must have meaningful,
                inspiring conversations
                and connections with
                contemporaries.
            </p>
                <a href="{% url "signup" %}" class="btn" type="join-us">Join Us</a>
        </section>
    </div>
        
    </div>
 
 
