
{% load i18n mezzanine_tags comment_tags %}

<div id="new-comment">
    <form method="post" id="comment" action="{{ comment_url }}#comment">
        <div class="post-comment">
        </div>
        {% if not request.POST.replied_to %}
        {% fields_for posted_comment_form %}
        {% else %}
        {% fields_for unposted_comment_form %}
        {% endif %}
        <div class="form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Post Comment" %}">
        </div>
    </form>
</div>

<div id="comments">
    <h4>{% trans "Comments" %}</h4>
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    {% else %}
    <script>
     $(function() {
         $('.reply').click(function() {
             $('.comment-reply-form').hide();
             $(this).siblings('.comment-reply-form').toggle();
         });
     });
    </script>
    {% endif %}

    <style>.input_id_honeypot {display:none !important;}</style>
    {% comment_thread object_for_comments %}
</div>
