
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    {% load mezzanine_tags i18n staticfiles %}
    <head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

        <style>
         @import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
         @import url(http://fonts.googleapis.com/css?family=Risque);
        </style>
        {% compress css %}
        <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine1.css"> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/flat-ui.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/noahstyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
        
        {% endcompress %}

        {% compress js %}
        <script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
        <script src="{{ STATIC_URL }}js/afeed.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
        {% endcompress %}

        {% block extra_head %}{% endblock %}

    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark w-100 p-2 flex-md-row bd-navbar col">
                <a class="col navbar-brand" href="/"><img src="/static/img/afeed-logo.svg"></a>
            <div class="col">
                {% nevercache %}
                {% include "accounts/includes/user_panel_nav.html" %}
                {% endnevercache %}
            </div>
            {% nevercache %}
            {% for message in messages %}
            {% endfor %}
            {% endnevercache %}
        </header>

        <div class="container-fluid">
            <div class="row flex-sm-nowrap">
                <div class="col-sm-4 col-md-3 col-lg-2 bd-sidebar">
                    {% if not request.user.is_authenticated %}
                    {% include "accounts/includes/sidebar.html" %}
                    {% endif %}

                </div>
                <div class="col col-sm-8 col-xl-8 py-md-2 pl-md-3 bd-content" role="main">
                    {% block main %}
                    
                    {% endblock %}
                </div>
                <!-- <div class="alert alert-{{ message.tags }}" data-alert="alert"> -->
                <!-- <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }} -->
                <!-- </div> -->

            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 bd-sidebar">

            </div>
         </div>
      </div>
        

        
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Links -->
            <nav class="grid wrapper col row_960">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mt-md-0 mt-3">

                        <!-- Content -->
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3 company-list">

                        <!-- Links -->
                        <h6 class="text-uppercase">company</h6>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About Us</a>
                            </li>
                            <li>
                                <a href="#!">Guidelines</a>
                            </li>
                            <li>
                                <a href="#!">Help/FAQs</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h6 class="text-uppercase"></h6>

                        <ul class="list-unstyled">
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>

                    </div>
                    
                    <!-- Copyright -->
                    <div class="col-md-3 mb-md-0 mb-3 footer-copyright">© artfeed 2019. All rights reserved.
                    <ul>
                        <li class="grid row">
                            <a href="https://www.instagram.com/a_f_e_e_d_" target="_blank" class="social-icon grid row center" onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Instagram Logo&quot;,&quot;click&quot;,&quot;Marketing Site – Footer Logo : homepage&quot;)"><img src="/static/img/icons8-instagram.svg"></a>
                        </li>
                    </ul>
                    </div>
                    <!-- Copyright -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            

        </footer>
        <!-- Footer -->

        {% include "includes/footer_scripts.html" %}

    </body>
</html>
