.span9 {
    width: 1200px !important;
    float: none !important;
    min-height: none !important;
    margin-left: none !important;
}



@media (min-width: 1200px){
    .container {
        height: 100px !important;
    }
}

@media (min-width:1200px) {
    .span3 {
        width: 200px !important;
    }
}

@media (min-width:1200px) {
    .offset3 {
        margin-left: 0px !important;
        margin: 0px 50px !important;
    }
}


.forum-list {
    border: 2px solid #BDD5CF;
    #margin-left:20em !important;
    position: relative;
}

.forum-sidebar_join-promt {
    background-color: #9ABBB3;
    padding: 14px;
    border: 2px solid #9ABBB3;
    border-radius: 3px;
    font-family: damascus;
    font-size: 16px;
}

a.brand {
    text-indent: none;
    padding:0 !important;
    #width:30px;
    overflow:hidden;

    background: none;
    background-position: none;
    text-indent: none;
    margin-left: none;
    font-family: 'Space Mono', regular;

    #padding:12px 5px !important;
     background: #ffffff ;
     color:#ffffff !important;
}

/* forum navbar */

#forum-nav, .top-forum-list, .forum-list_threads-nav, .forum-list_filters-wrapper,
.top-forms-list
 {
 
    border: 2px solid #BDD5CF;
    border-bottom: 0 none;
    height: 45px;
    width: 54.9em !important;
    position:relative;

    font-size: 17px;
    font-family: 'Space Mono', regular;
    margin-top: 1.5%;
    margin-left: 1%;

    display: flex;
    overflow: hidden;

    align-items:center;
    height: 45px;
    display: none;
    position: relative;
    align-self: stretch;
}

#filter-top {
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
}

#filter-newest, #filter-week,
#filter-Month {
    text-decoration: none;
    color: #000000;
    
}

#post-btn, .post-nav {
    font-family: 'Space Mono', regular;
    color: #000000;
    float: right;
    margin-right: 1%;
    margin-top: -3.3%;
    padding-right: 10px;
}

#post-btn:hover {
    background-color: #9ABBB3 !important;
}

#login-btn:hover {
    background-color: #9ABBB3 !important;
}

#signup-btn:hover {
    background-color: #9ABBB3 !important;
}

#logout-btn:hover {
    background-color: #9ABBB3 !important;
}

a {
    color: #A0EFDC;
    text-decoration: none;
}

a.btn {
    background: none;
	  padding: 4px 16px !important;
    margin-right: .5em;
    color: #000000;
    font-family: monospace;
    font-size:16.5;
    border: 1.5px solid #A0EFDC;

}

#logout-btn {
    margin-right: 6em; 
}

#profile-url-btn {
    margin-right: 4em;
}

.btn:hover, .btn:focus  {
    background-color: #fffefe !important;
    color: #000000;
}

a:hover {
    color: #A0EFDC;
    text-decoration: none;
}

img {
    box-shadow: none !important;
}

body {
    #color: #fff;
    font: 14px/1.231 'Oxygen', sans-serif;
     }

/* Headings */

h2 a:visited {color:#000000;}

h1, .link-item, .comment-item, .comment-links, #comments h3 {
    border:0 solid #c8967b38;
}

/* Rating widget with up/down arrows */
.rating {float:left; margin-top:-15px;}
.rating form {display:none !important;}
.rating i {
    display:block !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.arrows {float:left; margin-top:-5px;}
.score, .arrows {opacity: none;}
.arrows a:hover i {background-color:#1abc9c; background-image:url("../img/glyphicons-halflings-white.png");}

/* Link items in a list */
.link-item h2 {
    line-height:30px;
    margin:0;
    font-size: 17px;
}
.link-item .rating, .link-detail {float:left;}
.link-item .rating {
    background-color: none;
    padding: 10px;
    margin: -6px -13px 0 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:75px;
    text-align:center;
}
.link-item .arrows {
    margin: 0 10px 0 0;
    background-color: none;
    padding: 7px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#arrow-up {
    color: #A0EFDC;
}

.svg-inline--fa.fa-w-10 {
    font-size: 2.5em;
    color: #9df0dc;
}

.link-item .score {
  font-size: 20px;
  line-height: 85px;
  margin-left: -4.2em;
}

.link-detail {
    width:80%;
    font-size: 14px;
    margin-left: -13;
}

@media (max-width: 600px) {.link-detail {width:60%;}}
.link-detail a.profile, .link-detail a.comments {color:#999;}
.link-detail a.profile:visited, .link-detail a.comments:visited {color:#bbb;}

/* Link listing, details */
.link-item, .comment-item {
    margin-top: 11.5px;
    margin-left: -2px;
    border: 2px solid #bbd5cf;
    width: 54.9em;
    padding: 15px 0;
}
.link-view .rating i {float:left; margin:8px 0 0 -4px;}
.link-view .description {margin:20px 0;}
.link-meta .rating {margin:0 5px 0 0 !important;}

fieldset {
    padding: 10px 450px;
    margin-top: 20px;
    border: 0;
}

/* login css */

#login-account {
    font-family: 'Space Mono', regular !important;
    font-size: 12px;
    margin-left: 26em;
    margin-top: -4em;

}

#join-community {
    color: #000;
    text-decoration-line: underline;
}

p#reset-password, #reset-pass {
    color: #000;
    font-family: 'Space Mono', regular !important;
}

#reset-pass {
    text-decoration-line: underline;
}

#reset-pass:hover {
    color: #A0EFDC;
}

.info-box {
    background-color: #bbd5cf;
    margin-top: -23em;
    margin-left: .62em;
    margin-right: 36.7em;
    padding: 2em; 
}

legend {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    font-family: 'Mono Space',regular !important;ext-align: -webkit-center !important;
    background-color: #99bbb3 !important;
    margin-left: -21em !important;
}

.close {
    color: #bad5cf;
    text-shadow: none;
    opacity: 100;
    font-size: 33px;
}

.btn.btn-primary {
    border: 2px solid #a0efdc;
    background-color: #fff;
    font-family: monospace;
    color: #000000;


}

.btn.btn-primary:hover {
    background-color: #a0efdc;
}

/* button for submit page */
.btn.btn-warning {
    background-color: #5461ff;
}

.btn.btn-warning:hover {
    background-color: #fff;
}


.alert-info {
    color: #000;
    background-color: #fff;
    border: 2px solid #9df0dc !important;
    margin: 0 32em;
    margin-top: 3em;
    font-family: monospace;
}

.alert {
    text-shadow: none;
    border: 2px solid #99bbb3;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #ffffff;
    font-family: monospace;
    font-size: 13px;
    margin: 0 21em;
    margin-top: 3em;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #fff;
    box-shadow: 0 0 20px #99bbb3;
}

textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"],input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"],input[type="tel"],
input[type="color"], .uneditable-input {
    border: 2px solid #9df0dc;
    font-family: "Roboto", sans-serif;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {
    border-color: #9df0dc;
}

.form-actions {
    background-color: #ffffff !important;
    border-top: none !important;
}


/* tinymce panel  */
.mce-panel {
    border: 1px solid #5461ff !important;
    background-color: #fff !important;
    background-image: linear-gradient(to bottom,#ffffff,#fff)!important;
}

.pull-left-submit {
    float: none;
    margin: 17px;
}

.pull-right {
    float: right;
    margin: -39px auto 0px;
}

.pull-profile {
    float: right;
    margin: -39px -102px;
}

.navbar .nav > li > a {
    margin: -48px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #efefef; 
}

.navbar-inverse .nav > li > a {
    color: #5461ff;
}

    margin-left: 250px;
}



