body {
    background-color: #e1e1e12e !important;
}

.col-12 {
    width: 1200px !important;
    float: none !important;
    min-height: none !important;
    margin-left: none !important;
}

.container-fluid {
    padding-top: 6em;
    padding-bottom: 2em;
}


    .col-3 {
        max-width: 20% !important;
    }

    .offset-1 {
        margin-left: 0px !important;
        margin: 0px 50px !important;
    }


.nav-tabs {
}

.nav {
    padding-left: 4%;
    padding-top: 2%;
}
.forum-list {
    position: relative;
    
}

.forum-sidebar_join-promt {
    background-color: #fff;
    padding: 14px;
    border: 2px solid #9ABBB3;
    box-shadow: 0 4px 24px -2px #b8b8b8 !important;
    border-radius: 3px;
    font-family: monospace;
    font-size: 14px;
}

.forum-sidebar_join-promt:hover {
    box-shadow: 0 4px 24px -2px #b8b8b8;
}

a.brand {
    text-indent: none;
    padding:0 !important;
    #width:30px;
    overflow:hidden;

    background: none;
    background-position: none;
    text-indent: none;
    margin-left: none;
    font-family: 'Space Mono', regular;

    #padding:12px 5px !important;
     background: #ffffff ;
     color:#ffffff !important;
}

/* forum navbar */

#forum-Nav, .top-forum-list, {
 
    border-bottom: 0 none;
    height: 45px;
    width: 54.9em !important;
    position:relative;

    align-items:center;
    height: 45px;
    align-self: stretch;
}

.forum-list_threads-nav {
    font-size: 17px;
    font-family: 'Space Mono', regular;
    margin-top: -1.5%;
    margin-left: -2%;
    border: 1px solid #99bbb3 !important;
    background: #fff;
    box-shadow: 0 4px 24px -2px #b8b8b8;
}

.forum-list_threads-nav:hover {
    box-shadow: 0 4px 24px -2px #b8b8b8;
    border: 1px solid #99bbb3 !important;
}

.forum-list_filters-wrapper {
    display: flex;
    overflow: hidden;
}

.forum-filters {
}

#filter-top {
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
}

#filter-newest, #filter-week,
#filter-Month {
    text-decoration: none;
    color: #000000;
    
}

/* navbar */

.navbar {
    position: fixed !important;
    z-index: 1071 !important;
    background-color: #fff;
    box-shadow: 0 4px 24px -2px #b8b8b8;
}


#login-btn:hover {
    background-color: #d3e1de !important;
}

#signup-btn:hover {
    background-color: #d3e1de !important;
}

#logout-btn:hover {
    background-color: #d3e1de !important;
}

a {
    color: #A0EFDC;
    text-decoration: none;
}

a.btn {
    background: none !important;
	  padding: 4px 16px !important;
    margin-right: .5em;
    color: #000000;
    font-family: monospace;
    font-size:16.5;
    border: 1.5px solid #A0EFDC !important;

}

a.btn:hover {
    background-color: #d3e1de !important;
}

input#post-btn {
    background: none !important;
	  padding: 4px 16px !important;
    margin-right: .5em;
    color: #000000;
    font-family: monospace;
    font-size:16.5;
    border: 1.5px solid #A0EFDC !important;
    margin-right: 1em;
}

#logout-btn {
    margin-right: 1em; 
}

#profile-url-btn {
    margin-right: 1em;
}

.btn:hover, .btn:focus  {
    background-color: #fffefe !important;
    color: #000000;
}

a:hover {
    color: #A0EFDC;
    text-decoration: none;
}

img {
    box-shadow: none !important;
}


/* Headings */

h2 a:visited {color:#000000;}

h1, .link-item, .comment-item, .comment-links, #comments h3 {
    border:0 solid #c8967b38;
}

/* Rating widget with up/down arrows */
.rating {
    float:left;
    margin-top:-15px;
}

.rating form {
    display:none !important;
}

.rating i {
    display:block !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.arrows {
    float:left;
    margin-top:-5px;
}

.score {
    display:inline-block
}

/* Link items in a list */
.link-item h2 {
    line-height:23px;
    margin:0;
    font-size: 14px;
}
.link-item .rating, .link-detail {
    float:left;
}

.link-item .rating {
    width:75px;
    text-align:center;
}
.link-item .arrows {
}


#inc {
    border: none !important;
    background: none !important;
    font-size: 18px;
}

.svg-inline--fa.fa-w-10 {
    font-size: 2em;
    color: #010101;
    margin-top: .5rem;
}

.link-item .score {
  font-size: 20px;
}

.link-detail {
    width:80%;
    font-size: 14px;
    margin-left: 2em;
    margin-top: 2em;
}

@media (max-width: 600px) {.link-detail {width:60%;}}
.link-detail a.profile, .link-detail a.comments {color:#999;}
.link-detail a.profile:visited, .link-detail a.comments:visited {color:#bbb;}

/* Link listing, details */
.link-item, .comment-item {
    background: #bbd5cf5c;
    margin-top: 2rem;
}

.link-item {
    box-shadow: 0 4px 24px -2px #b8b8b8; 
}

.link-view .rating i {float:left; margin:8px 0 0 -4px;}
.link-view .description {margin:20px 0;}
.link-meta .rating {margin:0 5px 0 0 !important;}

fieldset {
    padding: 3em !important;
}

/* login css */

#login-account {
    font-family: 'Space Mono', regular !important;
    font-size: 12px;
    margin-left: 48em;
    margin-top: -4em;

}

#join-community {
    color: #000;
    text-decoration-line: underline;
}
/* login reset & join text */ 
#reset-password {
    color: #000;
    font-family: 'Space Mono', regular !important;
    font-size: 13px;
    padding-left: 44.5em;
    margin-left: 0em;
    margin-top: 0em;
}

#reset{
    text-decoration-line: underline;
    color: #000000;
} 

#password {
    color: #000000;
}

#reset-pass:hover {
    color: #A0EFDC;
}

/* account_forms.html */

.info-box {
    background-color: #bbd5cf;
    margin-top: -23em;
    margin-left: .62em;
    margin-right: 36.7em;
    padding: 2em; 
}

legend {
    display: block;
    width: 30%;
    padding: 0.3em;
    margin-bottom: -1em !important;
    font-size: 21px;
    font-family: 'Mono Space',regular !important;
    ext-align: -webkit-center !important;
    border: 1px solid #99bbb3;
    text-align: -webkit-center;
}

.close {
    color: #bad5cf;
    text-shadow: none;
    opacity: 100;
    font-size: 33px;
}

.btn.btn-primary {
    border: 2px solid #a0efdc;
    background-color: #f9f9f9 !important;
    font-family: monospace;
    color: #000000;
}

.btn-primary:hover {
    border-color: #99bbb3 !important; 
}

.btn.btn-primary:hover {
    background-color: #d3e1de !important;
}

/* button for submit page */
.btn.btn-warning {
    background-color: #d3e1de;
}

.btn.btn-warning:hover {
    background-color: #fff;
}


.alert-info {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #9abbb3 !important;
    margin-left: 38em;
    margin-top: -2em;
    padding: 0.2em !important;
    font-family: monospace;
}

.alert {
    text-shadow: none;
    border: 1px solid #9abbb3;
    padding: 1em !important;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #ffffff;
    border: 1px solid #9abbb3;
    font-family: monospace;
    font-size: 13px;
    margin: 0 21em;
    margin-top: 3em;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #fff;
    box-shadow: 0 0 20px #99bbb3;
}


textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"],input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"],input[type="tel"],
input[type="color"], .uneditable-input {
    width: 100%;
    border: 2px solid #99bbb375 !important;
    font-family: "Mono Space";
    margin-left: 0em;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {
    border-color: #9df0dc;
}

.form-actions {
}


.pull-left-submit {
    float: none;
    margin: 17px;
}

.pull-right, pull-profile {
    float: right;
    margin: 0px auto 0px;
    margin-right: 0%;
}

/* footer */

.footer {
    padding: 25px 50px;
    background-color: #d3e1de;
    box-shadow: 0px 4px 22px 5px #b8b8b8;
}

.company-list {
    color: #000;
}

.list-unstyled {
    color: #000;
}

.footer-copyright {
    color: #000;
}
insta-icon {
    
}

/* footer */

/* comment stream */

.title-comment-page {
    background: #bbd5cf5c;
    margin-top: 2rem;
    padding: 2em;
    padding-left: 3.5rem !important;
    box-shadow: 0 4px 24px -2px #b8b8b8;
}

#new-comment {
    background: #e3ecea;
    padding: 2em;
    margin-top: 5em;
    box-shadow: 0 4px 24px -2px #b8b8b8;
}

.post-comment {
    
}

#comments {
    border-left: 3px solid #e3ecea;
    padding: 2em;
    margin-top: 5em;
}

#comment {
    margin-left: 5em;
}

/* left side search/tags */

.left-sidebar {
    border-right: 3px solid #e3eceacc;
}


/* right sidebar */

.right-sidebar {
    border-left: 3px solid #e3eceacc;
    border-bottom: 3px solid #e3eceacc;
    height: 7em;
}
